[2020-07-11 18:09] johnstev111 opened #4 "I don't think this needs to be done..."
You could just write a grammar for yacc...

[2020-07-11 20:20] DynamicSquid commented on #4
Don't really like using external things. Want to code everything myself. It let's you give more control over your language in a sense

[2020-07-12 00:29] DynamicSquid commented on #4
~~also a major update on monday~~

[2020-07-12 07:21] johnstev111 commented on #4
~~OK cool~~

[2020-07-12 07:21] #4 closed

[2020-08-16 07:33] RZED786 opened #14 "Errors in docs"
You say in the docs that there is some support for loops, arrays and assignment operators (is that what they're called?) which the readme says there isn't. Also, the readme has an error. In the if-else if-else bit I think there is meant to be "\n" at the end of the print statements.

[2020-08-16 17:12] DynamicSquid commented on #14
Oh, thanks for reading the website! I actually wrote the website according to what my language will look like in the future. Cause right now, it has this ugly long domain name, and it's not really done yet and i didnt expect anyone to use it. But once i get a shorter domain name, and finish the website, then everything will match up.

I also fixed the example. Thanks for noticing!

[2020-08-17 08:14] johnstev111 opened #17 "I found a problem"
Uh so, I was testing  night for the first time, and I was doing something with an if and Woops! an error that sdhouldn't exist.
![image](https://user-images.githubusercontent.com/33234914/90373528-f122d080-e069-11ea-911b-7bb87328b117.png)
I did put a semicolon, weird.
Tip: add the bitwise XOR operator `^`

[2020-08-17 08:14] johnstev111 commented on #17
I thought I might add the tip anyway just to help you :)

[2020-08-17 08:31] RZED786 commented on #17
I have this issue too. :/

[2020-08-17 08:33] johnstev111 commented on #17
I haven't tried defining functions, it probably wayyy too buggy to do that now, so move it to an alpha, Lord Squid

[2020-08-17 08:34] RZED786 commented on #17
Actually I just forgot to specify the type nevermind.

[2020-08-17 08:52] johnstev111 commented on #17
Well that works then

[2020-08-17 08:56] RZED786 commented on #17
I'm looking through the parser code and I might be getting onto something

[2020-08-17 15:39] DynamicSquid commented on #17
Oh thanks guys! No semicolom after if statement though. Its just like C syntax. Curly brackets dont have semicolons.

[2020-08-17 15:40] DynamicSquid commented on #17
Im still working on better error messages though. Its hard to do the line number. Did you guys find any oher bugs?

[2020-08-17 18:57] RZED786 commented on #17
With and without semicolons it doesn't work...

[2020-08-17 19:00] RZED786 commented on #17
Also in parser.h when evaluating if statements it passes the condition to ExtractLine which as far as I can tell is meant for statements with curly brackets.

[2020-08-17 19:12] DynamicSquid commented on #17
Okay I fixed it, the if statements should work now. Also, thanks for noticing that! Here's how it works

[code]

[code]

So the only the if statement code gets passed to the function, not the condition

[2020-08-17 19:14] #14 closed

[2020-08-17 19:36] RZED786 commented on #17
Have you implemented brackets to change order of operations because when I used them it gave me an error. If you haven't implemented it then that's fine, but if you have then there may be a bug.

[2020-08-17 19:41] DynamicSquid commented on #17
Where are you using brackets? In functions parameters, variable assignment...

[2020-08-17 19:43] RZED786 commented on #17
something like:
if(true && (true || false)) {
    print("Hello, world!");
}

[2020-08-17 19:48] DynamicSquid commented on #17
Oh yes that. I actually fixed that, but that's going to be in `v2.1`, which is an update all about expressions. Hopefully all the bugs around expressions will be fixed and there will be some fixes around functions as well and new features with expressions. It'll be out by the end of this week maybe?? I'll also properly link it to the ide in the website and update everything

[2020-08-19 11:07] RZED786 opened #18 "Enter Rosetta Code"
Rosetta Code is a website with many different problems that are trying to be solved in as many different programming languages as possible. Anybody can add a solution to one of the problems in a new programming language. Perhaps you (or I can try if you want) could add Night to popularise it?

[2020-08-19 11:59] RZED786 commented on #18
I made a website on the Rosetta Code wiki you can extend it: https://rosettacode.org/wiki/Night

[2020-08-19 14:50] RZED786 opened #19 "\n doesn't work"
When in a function and I try to print something including `\n` it prints `\n` instead of a newline. Also, a character whose value is `' '`, `'\n'` or `'\0'` (perhaps others as well) it disappears. Code: `print("Hello world" + '\n');`
Result:
[code]

[2020-08-19 18:00] DynamicSquid commented on #19
Oh interesting. The way it works is the input is a string, so it sees `\n` as a string, not a character. Thanks for bringing that up, I'll try to work on it. You could always just leave that as a string for the meantime

[2020-08-19 18:03] DynamicSquid commented on #18
Oh interesting, never heard of it before. I'll take a look at it

[2020-08-20 08:46] RZED786 commented on #19
Ok, thanks

[2020-08-20 11:23] johnstev111 commented on #17
Oh, ok :)
Also, I noticed you're working on a #include-like statement, but I would suggest to not do a pre-processor, but that of course is the easy option, to just replace the include statement with the source of the header it's including. Just a suggestion =)

[2020-08-20 18:19] DynamicSquid commented on #17
Yeah, I'm still thinking about it though

[2020-08-20 18:19] #17 closed

[2020-08-20 18:19] #19 closed

[2020-08-27 19:43] RZED786 opened #24 "Segmentation fault when trying recursion"
I was trying to make a 99 bottles of beer program for Rosetta Code. I used a recursive function but it gave me a segmentation fault.
This was my code:
[code]
When I get rid of the recursive call, there is no segmentation fault, but nothing is printed (Neither the if statement or the else statement are working). I know you are working on arrays now so you can leave this until v3.0 or later if you w

[2020-08-27 21:26] DynamicSquid commented on #24
Yeah I had the same problem with recursion as well. Keep in mind that `v2` is still in beta and not all the features work properly. Also loops won't work either cause they are static. The loop condition only evaluates once, but all this will change (hopefully) in `v3` (coming out soon) since that will be my first non-beta release.

[2020-08-27 21:27] DynamicSquid commented on #24
That's for reporting it to me though!

[2020-08-27 21:27] #24 closed

[2020-08-31 17:29] firefish111 opened #25 "Interested in writing a package manager?"
I was thinking on calling it twilight or dusk, which do you think?
Also for the package manager should I go for a normal C program piggybacking on libcurl or a node.js script for getting data from the cdn?

[2020-08-31 18:28] johnstev111 commented on #25
``

[2020-08-31 18:46] DynamicSquid commented on #25
Hmm... I'm not really fond of changing the name. Also for the package manager, I've never really played around with one before, so I have no clue how it works. Could you explain more about what the package manager will do?

[2020-08-31 21:23] johnstev111 commented on #25
Well, just take raw night source code from the CDN and plonk it into a folder that the compiler uses the import statement to know
which modules in the directory to import.
If you want me to do it, I'm thinking of writing it in Go...

[2020-08-31 21:48] DynamicSquid commented on #25
huh?

[2020-09-01 07:05] johnstev111 commented on #25
~~Alright, you probably won't see this message because you just fell asleep and I just woke up. Érd.~~
Alright, I'm making the thing. It's 8am for me now, expect it to be almost done by the time you read this. (~4pm my time)
I'm calling it dusk, because it's before a night, and you need to install packages before you can do anything with them in your Night script. I can rename it, but it has to be

[2020-09-01 14:26] johnstev111 commented on #25
Alright, it's very simple, BUT IT WORKS. check out https://github.com/johnstev111/dusk/

[2020-09-01 16:27] DynamicSquid commented on #25
okay but you still haven't told me what this package manager does

[2020-09-01 16:34] johnstev111 commented on #25
which modules in the directory to import.

I have

[2020-09-01 16:35] DynamicSquid commented on #25
no clue what that means.... cdn? import statement?

[2020-09-01 16:37] johnstev111 commented on #25
CDN means Content Delivery Network, like jsdelivr. Some server that hosts a bunch of code. The import statement. Like python, you see
[code]
those are import statements. They are statements, that import.

[2020-09-01 16:40] johnstev111 commented on #25
So, it means that when you  type, for example in night `use lalala;` (don't have to use that syntax, but there isn't one currently so I made one up) the compiler would say take the pre-processor and replace that `use lalala;` with the contents of `./dusk_modules/lalala.night`. It's a bit complex, I know, but just bear with me.

[2020-09-01 16:41] DynamicSquid commented on #25
why would I need a package manager though?

[2020-09-01 16:45] johnstev111 commented on #25
you said you wanted some sort of a `#include`-like statement.... I was helping you.... like python doesn't have all those packages baked in one binary, they're stored on PyPI, the Python Package Index, which is basically a fancy CDN.

[2020-09-01 16:47] DynamicSquid commented on #25
OHHHHH is that why python has so packages? I was thinking of just putting everything into one binary, but I guess I could have different packages...

[2020-09-01 16:48] DynamicSquid commented on #25
so the `dusk_modules` folder, that's where I write all my packages?

[2020-09-01 16:49] johnstev111 commented on #25
Er... no, you plop them on the CDN. The dusk_modules directory is where the modules are installed locally. The cdn is hosted on repl.it, I'll invite you now (it's called `duskcdn`)

[2020-09-03 09:04] AntimatterReactor commented on #25
well, have just seen this, it's an interesting idea tbh

[2020-09-03 11:04] AntimatterReactor commented on #25
i have look at the code... i... i realize i don't know how to code in go-lang
and... not to be an asshole here, i just... i don't think i can contribute to dpm (dusk package manager, i mean...)...

[2020-09-03 16:07] Lethdev2019 commented on #25
@AntimatterReactor @DynamicSquid @johnstev111
Can i help. I can create a command line tool for you like npmg.exe --install [package_name] BUT we need to make a repository for that using an index server for github releases.

[2020-09-03 16:34] DynamicSquid commented on #25
Uh sure I guess! I was talking with jonstev and we made a plan that we'd have two repositories, Night, and the External code, and use MinGW to compile them both, so they can be run fairly easily. I'm not really sure though @johnstev111 has more information. I'm actually really clueless on this kind of stuff

[2020-09-03 16:37] Lethdev2019 commented on #25
@DynamicSquid ok - i invited you to the repl

[2020-09-03 17:30] johnstev111 commented on #25
@DynamicSquid Squod, look. Lethdev can't compile python into ELF binaries that easily, and remember CROSS PLATFROM, and this needs to be a binary, so I woud've done node, that's why I chose Golang. As simple as that.
No scripting, and also, was literally half-way through adding to it, if you wanna help, I mean ~~Golang only took 5 hours to learn~~

[2020-09-03 17:33] Lethdev2019 commented on #25
@johnstev111 @DynamicSquid WELL NOW I CAN'T BECAUSE ALL THE CODE IS MAGICALLY MISSING.

[2020-09-03 17:36] johnstev111 commented on #25
well what happened, i can recover it

[2020-09-03 17:42] DynamicSquid commented on #25
uhhh no clue what's going on, but yeah sure I guess I'll go with johnstev

[2020-09-03 17:58] DynamicSquid commented on #25
lol I love that quote "magically missing"

[2020-09-04 05:02] AntimatterReactor opened #26 "Building a Wiki?"
It's just some things remain a mystery, especially for those that just stumble upon this. For example, I, still don't know whether I could make void function in Night.

[2020-09-04 08:31] #26 closed

[2020-09-04 16:20] Lethdev2019 opened #27 "Compiled editions for platforms"
some users cannot compile the language due to a package that is not supported or is hard to get... CMake or things like it.
And otherusers just don't know how - because you did not have instructions on how to compile or they don't have permissions (like me :( )  or they could just be getting started programming (it is like downloading discord and they tell you that you have to set it up on your ow

[2020-09-04 20:33] DynamicSquid commented on #27
Good idea. I'm going to play around with the source build a little more and try and see if there's anything I can do

[2020-09-04 20:34] DynamicSquid commented on #26
Just a note, the website is where the tutorial is

[2020-09-06 08:49] johnstev111 commented on #27
Hm... MacOS would be inaccessible, because I don't have a Mac (or any Apple product, for that matter), but maybe Squod does...

[2020-09-06 10:33] Lethdev2019 commented on #27
@johnstev111 try a virtual machine

[2020-09-06 10:39] Lethdev2019 commented on #27
@DynamicSquid  @DynamicSquid - if you created a version that could run a script from a path like ```night --run "scripts/script.night"``` i could make you a code editor using electron.

[2020-09-06 10:57] johnstev111 commented on #27
I don't have a license for it MacOS.... duh

[2020-09-06 13:02] Lethdev2019 commented on #27
just looked it up some more - getting the license does not matter - the vm would be blocked any ways because of the EULA including that apple must not be run on non-apple devices.

[2020-09-06 16:05] Lethdev2019 commented on #27
@johnstev111 @DynamicSquid to solve macos - we just compile it to a .app file then put it in a zip.

[2020-09-06 16:40] johnstev111 commented on #27
How to compile to .app file if nobody here has a fresh copy of MacOS?

[2020-09-06 16:43] Lethdev2019 commented on #27
Can we talk about this in repl.it in NpMG

[2020-09-06 19:14] DynamicSquid commented on #27
Well, if you can't compile the lang, then just use the website :)

[2020-09-06 20:14] firefish111 commented on #27
Er... one option, but what if you don't have internet, hehe (like why would that happen, but PRETEND IT'S STILL 1996 AND WE ALL HAVE 56K MODEMS)

[2020-09-06 20:51] DynamicSquid commented on #27
Okay but if you dont have internet then how did you find this GitHub page in the first place?

[2020-09-06 21:09] firefish111 commented on #27
I do have internet, the suspension of disbelief

[2020-09-06 21:16] DynamicSquid commented on #27
Also im really trying to focus on v3.0 right now, and getting that ready as soon as possible, but once i get that done, then we can probably do all this

[2020-09-06 21:17] DynamicSquid commented on #27
Also yeah i dont have mac or linux, so one of you guys have to do it and send me the file

[2020-09-06 21:18] firefish111 commented on #27
Didn't you install VBox? If you deleted the VM I can help you recover it, I've used virtualbox a lot

[2020-09-06 21:18] firefish111 commented on #27
You can use th\at for your linux install

[2020-09-06 21:19] DynamicSquid commented on #27
Yeah i tried that out but i deleted it since i didnt know how to use linux properly lol.

[2020-09-06 21:42] firefish111 commented on #27
Wait... repl.it is linux, you do know that?

[2020-09-06 21:56] DynamicSquid commented on #27
OHHHH right so I can just compile Night in repl.it, and download the elf file

[2020-09-06 22:00] DynamicSquid commented on #27
Wait, how am I going to put the code for the release then? Should I add the source code binary, and the compiled version all into one release?

[2020-09-07 18:58] firefish111 commented on #27
Well once we've combined the C++ code of Night and the Go code of dusk into one binary, you could but the BINARIES under the release binaries or you could plonk the Makefile in here (time to learn polygott)

[2020-09-09 15:55] Lethdev2019 commented on #27
well i certainly do. Mint, Ubuntu and Debian.

[2020-09-13 07:32] firefish111 commented on #25
Working build of dusk running on mingw
![image](https://user-images.githubusercontent.com/33234914/93012883-a7ab9f80-f59b-11ea-9fd8-cec5188c8296.png)

[2020-09-13 08:17] Lethdev2019 commented on #25
ooh nice

[2020-09-13 08:17] Lethdev2019 commented on #25
meet you on the slice lang

[2020-09-13 08:19] Lethdev2019 commented on #25
You will need to add it to releases though on your repo

[2020-09-13 08:39] firefish111 commented on #25
It's not done YET
still need a version tracker, like a working package-lock.json

[2020-09-13 12:12] Lethdev2019 commented on #25
@firefish111
That is not too hard - we can use the metadata to get current version and the latest version then compare them.
also, i am on Dusk again.

[2020-09-20 07:05] firefish111 commented on #27
@DynamicSquid Here's something: you can actually put compiled executables inside the "Assets" of a release

[2020-09-20 16:03] DynamicSquid commented on #27
hi im so happy rn

![Screenshot (240)_LI](https://user-images.githubusercontent.com/60247838/93715757-88c38500-fb28-11ea-8420-4ecc6e48cb5b.jpg)

recursion works!!

[2020-09-20 16:06] DynamicSquid commented on #27
been trying for a whole day to get that to work. going to fix up some bugs with that, and i'll test the other code, should be simple since functions are the hardest and everything else is easy, then I'll release v3.0 hopefully today and I'll start work on the package manager you guys made :)

[2020-09-20 16:16] DynamicSquid commented on #27
![Screenshot (241)_LI](https://user-images.githubusercontent.com/60247838/93716036-456a1600-fb2a-11ea-961d-fa22dc2a72e3.jpg)

omg guys looks it's the fib sequence yay!!!

[2020-09-20 18:52] firefish111 opened #29 "test from github desktop"
# haha lol wait not from github desktop you confused me

[2020-09-20 18:53] DynamicSquid opened #30 "Testing"

[2020-09-20 18:54] firefish111 commented on #30
![image](https://user-images.githubusercontent.com/33234914/93719543-25167780-fb7b-11ea-9f6b-6ec9ae420f2e.png)
@DynamicSquid
here

[2020-09-20 18:55] #30 closed

[2020-09-20 18:56] #29 closed

[2020-09-21 06:00] Lethdev2019 commented on #27
PLEASE compile it.

[2020-09-21 06:08] Lethdev2019 commented on #27
plus doing it on the web is not reliable - blackouts ect. plus it may be faster on the computer due to less requests and people would be able to create games and guis on it which is simply not possible with just a terminal in the browser.

[2020-09-21 10:39] firefish111 commented on #25
@Lethdev2019 @DynamicSquid @AntimatterReactor I think we're done; check the release and test it (hopefully works, included windows binary and linux binary that works on repl.it)

[2020-09-21 16:39] firefish111 commented on #27
@Lethdev2019 @DynamicSquid @firefish111 GUYS! Use GitHub Actoins
![image](https://user-images.githubusercontent.com/33234914/93795486-5782ac00-fc31-11ea-9de9-527615467e15.png)

[2020-09-21 16:48] Lethdev2019 commented on #27
how are we gonna add that to releases?

[2020-09-21 17:01] firefish111 commented on #27
we compile it, download it, it's a good as that
(if we can't download it, then if we can make http requests we might be able to tranfer it off of there with a server) I'm thinking .deb and .rpm time @Lethdev2019 @DynamicSquid

[2020-09-27 17:14] DynamicSquid commented on #27
I tried compiling it to a .exe file, and running it on another windows 10 os, but I think you still need gnu installed for it to work

[2020-09-27 17:15] DynamicSquid commented on #27
i put the exe file generated using g++ on here if you guys want to try it out

[2020-09-27 21:23] CodeLongAndProsper90 opened #31 "Missing docs for source build"
In the website there is a tab `Source build` and yet the HTML is empty.
You also appear to have a PE bin in the root, indicating a Windows build.
Do you plan to use Autoconf and Make?

[2020-09-27 21:31] DynamicSquid commented on #31
Yeah, haven't really been working on the website lately... also what's a PE bin? And no clue how to use Autoconf and Make...

[2020-09-27 21:49] DynamicSquid commented on #31
My plan right now is to just have maybe a `.exe` file and an `.elf` (well once it get it working for linux) file and assume the user has gnu installed. The current exe file is just for testing purposes, and I'll put it in the release once it's done

[2020-09-28 15:16] Lethdev2019 commented on #27
Where?

[2020-09-28 19:22] firefish111 commented on #27
@DynamicSquid Is it an asset under the release?

[2020-09-28 19:23] firefish111 commented on #31
@DynamicSquid
PE bin = PE binary = .exe file
elf binaries don't have extensions
and no idea what autoconf is, But try your best to understand the makefile in my pr

[2020-09-28 20:09] CodeLongAndProsper90 commented on #31
Where is it (the Makefile)?  I don’t see a Pr…

[2020-09-28 20:15] firefish111 commented on #31
Closed, #28

[2020-09-28 22:15] CodeLongAndProsper90 commented on #31
Uh I'm not finding that in the repo, `ls -R . | grep Makefile` is empty.

[2020-09-29 01:03] DynamicSquid commented on #27
@Lethdev2019 @firefish111 guys it's like right there in the files...

[2020-09-29 02:30] #31 closed

[2020-09-29 05:03] AntimatterReactor commented on #27
well, seeing this is a concern, i finally understood that linux and mac, unlike windows **can** run any file format _**directly**_ as an executable. https://askubuntu.com/questions/156392/what-is-the-equivalent-of-an-exe-file, https://stackoverflow.com/questions/4073289/compiling-simple-hello-world-program-on-os-x-via-command-line. Although on mac, that means it's not an app, just an executable.

[2020-09-29 06:52] AntimatterReactor commented on #27
see:
![image](https://user-images.githubusercontent.com/63902100/94523105-e9ef0500-025a-11eb-9646-5d8c9d6233fb.png)?

[2020-09-29 06:54] AntimatterReactor commented on #27
yeah, nvm

[2020-09-29 08:52] Lethdev2019 opened #37 "Give me something to do please"
Seriously please... can i do like an IDE for it or something?

[2020-09-29 09:01] Lethdev2019 commented on #27
@DynamicSquid Does not work - librairies are missing for the exe

[2020-09-29 09:19] AntimatterReactor opened #38 "Bugs? - No semicolon doesn't generate error"
example:
[code]
once runned, it doesn't do anything, no error message, no result

[2020-09-29 09:27] AntimatterReactor commented on #37
Suggestion: yes, IDE, or vscode syntax, or just watch more youtube

[2020-09-29 14:31] CodeLongAndProsper90 opened #41 "Create a new release"
For the PKGBUILD, a new release is needed so that the tarball can be fetched, and the repo contains a bugfix allowing code to run, so, perhaps create a v3.0.1 bugfix release. Thanks!

[2020-09-29 15:14] DynamicSquid commented on #38
Yeah for v2.0 better error mags will be implemented so that should be fixed. Thanks for reporting that

[2020-09-29 15:14] #38 closed

[2020-09-29 17:04] firefish111 commented on #27
@DynamicSquid It's good practice to not have it in the files. Put it in the release assets.

[2020-09-29 17:06] firefish111 commented on #31
@CodeLongAndProsper90 can you not actually click:
![image](https://user-images.githubusercontent.com/33234914/94590349-74952b80-027e-11eb-8048-0b7a48b4ad11.png) it leads you to pr #28 JUST CLICK ON IT

[2020-09-29 17:17] fuzzballcat opened #42 "Please delete this issue"
Please delete this, accidentally added it.

[2020-09-29 17:29] DynamicSquid commented on #27
Yeah imma naie a release on this pretty soon.Also @Lethdev2019, are you on windows cause it worked for me?

[2020-09-29 17:31] DynamicSquid commented on #37
Try walking your dog. That's what I usually do when I get bored.

[2020-09-29 17:32] DynamicSquid commented on #37
Jk lol idk. Have you tried to compile and run night using g++ on windows yet?

[2020-09-29 17:34] DynamicSquid commented on #37
Help antimatter on his night compile (if that's okay with antimatter)

[2020-09-29 18:45] #37 closed

[2020-09-29 18:48] CodeLongAndProsper90 commented on #31
Nevermind, I wrote my own

[2020-09-29 23:04] DynamicSquid commented on #41
can I release it now?

[2020-09-29 23:11] DynamicSquid commented on #41
hmm.. slight problem with the Makefile though. To use the `make` command, you have to be in the same directory as the Makefile, but I want the current directory to be outside the `src` folder so this would be the best option:

[code]

Should we change the readme file to say that? Or should we have the Makefile outside the `src` folder?

[2020-09-29 23:57] #27 closed

[2020-09-30 00:00] #41 closed

[2020-09-30 00:26] CodeLongAndProsper90 commented on #41
The best thing would be a soft link but Windows can’t handle that, perhaps just make a dummy Makefile?
For example
[code]

[2020-09-30 00:26] CodeLongAndProsper90 commented on #41
Sorry for formatting on mobile rn

[2020-09-30 00:28] DynamicSquid commented on #41
Well, im not really an expert in makefiles so im not sure. Would that be better than what we have now?

[2020-09-30 00:44] CodeLongAndProsper90 commented on #41
I mean cd src && make clean all is pretty standard

[2020-09-30 00:45] DynamicSquid commented on #41
Sure i guess

[2020-09-30 02:09] AntimatterReactor commented on #38
ok...

[2020-09-30 02:11] AntimatterReactor commented on #26
right...

[2020-09-30 18:04] Lethdev2019 commented on #27
@DynamicSquid oh you did not have instructions on using it at the time.

[2020-09-30 21:15] Lethdev2019 commented on #25
@firefish111 your cdn is down

[2020-09-30 23:59] HahaYes-dev opened #45 "Website"
JDOG and I are wondering if your website is on github, if so, can we make some PRs?
Thanks,
HahaYes

[2020-10-01 00:30] DynamicSquid commented on #45
Who's jdog? And no, but you can just make a pr here thatd be fine

[2020-10-01 01:03] HahaYes-dev commented on #45
Ah thanks squid, prob be making a few PRs here and there

[2020-10-01 01:24] DynamicSquid commented on #45
Oh yeah that'd be great help if you do! I'm not the best at writing descriptive stuff nor web designing...

[2020-10-01 01:24] #45 closed

[2020-10-01 17:38] firefish111 commented on #25
@Lethdev2019 I KNOW, IT'S BLASTED BROKEN, been stressing over it for the past day

[2020-10-02 23:15] DynamicSquid opened #48 "Continuous Integration?"
Hi guys. @firefish111 @CodeLongAndProsper90

Should we set up some CI? Never done it before so it should be interesting, and it should help with futures PRs

[2020-10-03 00:39] CodeLongAndProsper90 commented on #48
I think we should add an `assert` statement and the self-host the tests.

[2020-10-03 00:59] DynamicSquid commented on #48
`assert` as in `assert(str != null)`? Also how do we self host the tests? Do we create a folder called `tests` and have test code in their?

[2020-10-03 01:11] CodeLongAndProsper90 commented on #48
No I mean Night is tested in Night.

[2020-10-03 01:13] DynamicSquid commented on #48
oh yeah that's what I meant. so we have a file containing test code written in Night, and we test a commit user that. How are we going to get it up though?

[2020-10-03 01:22] AntimatterReactor opened #49 "Bugs(??) - Input is Undefined"
![image](https://user-images.githubusercontent.com/63902100/94980195-97ab2e00-0551-11eb-933b-46a5240debca.png)
![image](https://user-images.githubusercontent.com/63902100/94980198-9aa61e80-0551-11eb-83a6-84d5509f3ce8.png)

[2020-10-03 01:26] DynamicSquid commented on #49
lol I forgot to put input in the release!! cause for v3, I completely restarted the code, but I guess i might of missed that. that's why it's in 2.4 but not 3.0!!! might have it 3.1

[2020-10-03 01:26] #49 closed

[2020-10-03 01:26] CodeLongAndProsper90 commented on #48
I don’t know.

[2020-10-03 01:28] DynamicSquid commented on #48
oh um... I guess we just play around with some stuff until something works?

[2020-10-03 01:29] CodeLongAndProsper90 commented on #48
Repl uses CircleCI…

[2020-10-03 01:31] DynamicSquid commented on #48
Should we give that a try? I'm playing around with the built in github workflows now... no clue what I'm doing though

[2020-10-03 01:32] CodeLongAndProsper90 commented on #48
Sounds good, I guess...

[2020-10-03 02:30] DynamicSquid commented on #48
wait theres 1205 lines of errors on the CI that's more errors as lines of code I think I did something wrong...

[2020-10-03 03:02] AntimatterReactor commented on #49
ok

[2020-10-03 03:32] DynamicSquid commented on #48
update: I switched to CircleCI and got a Linux pipeline working, now I'm trying to do Windows

[2020-10-03 09:42] firefish111 commented on #48
WHAT THE HELL STOP PINGING ME AT MIDNIGHT @DynamicSquid @CodeLongAndProsper90

[2020-10-03 11:27] firefish111 commented on #48
@DynamicSquid @CodeLongAndProsper90 Shall we implement the preprocessor as well, under #28 (please click on it codelong, unlike last time, and then you'll get there)

[2020-10-03 15:20] DynamicSquid commented on #48
Shouldn't a preprocessor be compiled separately?

[2020-10-03 15:28] firefish111 commented on #48
No. Look at C. @DynamicSquid The linking is done separately, but since this a scripting language, we don't need to care about that.
The preprocessor does exactly what `#include` does.

Now, @CodeLongAndProsper90 PLEASE CHECK #28 (and click on the text that says #28 this time OK?!?!)

[2020-10-03 15:29] DynamicSquid commented on #48
Oh okay. Is there a way where you could create a new PR with the preprocessing cause I can't seem to reopen the old one...

[2020-10-03 15:30] firefish111 commented on #48
Erm, Yeah oki, just need to do it with night `[3, 0, 1] which will take me about a decade (probably 20 minutes lol)

[2020-10-03 15:31] DynamicSquid commented on #48
lol okay. also i'm still testing the CI so if it says your PR failed the tests don't worry about it for now

[2020-10-03 15:32] firefish111 commented on #48
Try TravisCI, it's more commonly used

[2020-10-03 15:34] DynamicSquid commented on #48
Yeah check the reamdme file, I'm already setting it up

[2020-10-03 15:36] firefish111 commented on #48
One question, how do you get the `night::string` value as a `std::string`?

[2020-10-03 15:36] DynamicSquid commented on #48
I only use `std::string` for file handling. Everything else do with `night::string`

[2020-10-03 15:37] firefish111 commented on #48
yeah but what if I want to add a `night::string` to a `std::stringstream`?

[2020-10-03 15:38] DynamicSquid commented on #48
you don't :)

[2020-10-03 15:38] DynamicSquid commented on #48
wait, can you share a snippet of the code?

[2020-10-03 15:38] firefish111 commented on #48
then how to concatenate a `std::string` to a `night::string` then

[2020-10-03 15:39] firefish111 commented on #48
![image](https://user-images.githubusercontent.com/33234914/94995548-fba41580-0596-11eb-902a-889b4ca9b0cb.png)

[2020-10-03 15:41] DynamicSquid commented on #48
I mean... the reason why I created my own data types instead of using the much faster more reliable std is because I actually don't know. If you must use `std::string`, you could do this:

[code]

[2020-10-03 15:42] DynamicSquid commented on #48
Or vise versa:

[code]

[2020-10-03 15:43] firefish111 commented on #48
Thank you =) been a great help

[2020-10-03 15:52] firefish111 commented on #48
Also in your MAkefile there is a reference to the env $DESDIR. I don't know what that is, what is it? @DynamicSquid

[2020-10-03 15:52] DynamicSquid commented on #48
idk codelong did that. I think it's for dusk

[2020-10-03 15:54] firefish111 commented on #48
No, it's Destination directory, like `.` basically

[2020-10-03 16:19] DynamicSquid commented on #48
oh, idk then. also for the ci, might go with circleci as it gives a better interface. don't really see a difference between that and travis

[2020-10-03 16:27] firefish111 commented on #48
@DynamicSquid Would GPL3 be better than Apache2? As far as I know it's only one extra feature in GPL called "Same license"

[2020-10-03 16:59] CodeLongAndProsper90 commented on #48
Typo, it should be $DESTDIR

[2020-10-03 17:21] DynamicSquid commented on #48
oh yeah @CodeLongAndProsper90, could you give advice for the license? Should I use the GPL?

[2020-10-03 17:26] CodeLongAndProsper90 commented on #48
GPL ensures that any code that uses this code is GPL’ed and any forks must have it as well

[2020-10-03 17:59] #48 closed

[2020-10-07 23:04] DynamicSquid opened #60 "Rename Repository?"
Should I rename this to "night" with a lowercase "n"? @firefish111

[2020-10-08 20:44] CodeLongAndProsper90 commented on #60
Nah, `Night` is fine, for me at least

[2020-10-09 04:02] Lethdev2019 commented on #60
it is grammatically correct... so no

[2020-10-09 11:22] AntimatterReactor commented on #60
no need to, but, you could

[2020-10-09 12:26] AntimatterReactor opened #61 "About non-coding stuff...?"
EXAMPLE:

- Building better docs?
- Making a github 'Night' team/organisation profile (like a lot of big languages)?
- Github action for main and side project progress tracking?
-  ~~A task list for everyone? TBH I'm bored~~
- etc, etc; that kind of stuff

[2020-10-09 14:40] #60 closed

[2020-10-09 15:41] Lethdev2019 commented on #61
well Dynamic squid has not accepted the doc concept.

[2020-10-09 16:41] DynamicSquid commented on #61
Some help on the docs would be nice :)

[2020-10-09 17:06] Lethdev2019 commented on #61
@DynamicSquid how?

[2020-10-09 17:09] Lethdev2019 commented on #25
@firefish111 @DynamicSquid we need dusk to be able to have dependencies - it means adding import to night too.

[2020-10-09 17:21] firefish111 commented on #25
@Lethdev2019 that's the point, we have a use statement to import dusk packages, and an import statement to import local files

[2020-10-09 17:35] firefish111 commented on #61
@AntimatterReactor I made an organisation like about 3 months ago but squid asked me to delete it. He doesn't want me to remake it

[2020-10-09 18:44] #61 closed

[2020-10-09 18:49] firefish111 commented on #61
@DynamicSquid should i remake the organisation?

[2020-10-09 19:01] DynamicSquid commented on #61
No

[2020-10-10 01:00] AntimatterReactor commented on #61
Ok, fair enough.

[2020-10-11 21:15] DynamicSquid commented on #25
@firefish111 @Lethdev2019 You guys know what this means...

![Screenshot (243)_LI](https://user-images.githubusercontent.com/60247838/95690377-88248880-0bd4-11eb-9f69-0f59b70a0356.jpg)

[2020-10-11 22:31] DynamicSquid commented on #25
ahhh... finally, time to take a break

[2020-10-12 01:51] DynamicSquid commented on #25
okay time to do package manager. wait why can't we just use npm? I guess it's more fun to create things ourselves... or is it in this case??? cause have you seen the npm website??? it's so cool!

[2020-10-12 17:04] firefish111 commented on #25
@DynamicSquid (What? I'm just uploading night packages to npm, a cdn for JAVASCRIPT code, *grilling apricots on the brabecue*)

[2020-10-12 17:15] DynamicSquid commented on #25
no I kinda want to make a packager manager ourselves. the package manger you have rn is really good lets use that one

[2020-10-12 17:16] DynamicSquid commented on #25
also why would you grill apricots on a barbecue

[2020-10-12 17:55] firefish111 commented on #25
@DynamicSquid ~~do you not understand sarcasm~~ Alright then, would you like to help add search to dusk? I mean it only takes 5-6 hours to learn...

[code]

[2020-10-12 18:38] DynamicSquid commented on #25
Not, it can take like 1 or 2 hours wihtllth Ctrl + C and Ctrl + V and stackoverflow

[2020-10-12 18:41] firefish111 commented on #25
@DynamicSquid Quite right, but I'll invite you to dusk. ~~(oh christ it's a private repl, my hacker expired, gonna have to make it public)~~

[2020-10-12 23:21] DynamicSquid commented on #25
I'm already invited to dusk...

[2020-10-25 01:36] DynamicSquid commented on #25
Wait, why don't we link the exe file for Night for convenience again?

[2020-10-25 01:56] DynamicSquid commented on #25
@firefish111 Wait, but that's how how things work. All the other repositories ask you to build this from source, so the user needs Go installed?

Wait no OH!!! So the GitHub page tells the user how to build from source, but the website has the `exe` files already there!! k I'll update some stuff I'm a genius

[2020-10-25 09:08] firefish111 commented on #25
@DynamicSquid What the hell I'm not up at 1am or 1am, (haha daylight savings joke lol, oh wait you won't find it funny because in the US donno about Canada they change in a week)

[2020-10-25 15:46] CodeLongAndProsper90 commented on #25
Yeah btw, could we perhaps move this to gitlab? It's a bit of a better ecosystem.

[2020-10-25 15:46] CodeLongAndProsper90 commented on #25
Or mirror gitlab here

[2020-10-25 15:47] DynamicSquid commented on #25
@CodeLongAndProsper90 but gitlab's lesser used isn't it?

[2020-10-25 15:55] CodeLongAndProsper90 commented on #25
Yeah but Gitlab doesn't take a repo offline since it can be used to download YouTube videos

[2020-10-25 16:24] CodeLongAndProsper90 commented on #25
And gitlab has great ci

[2020-10-25 16:27] DynamicSquid commented on #25
~~let's create our own version of github~~ But I'm so used to Github. I guess I can try Gitlab after I release `v3.2` (which I'm working on rn, releasing in a couple hours)

[2020-10-25 16:31] CodeLongAndProsper90 commented on #25
Well I can fork it and set it up on Lab…

[2020-10-25 16:33] DynamicSquid commented on #25
Yeah I was gonna do that. But give me a while, I really want to get v3.2 out asap

[2020-10-25 17:04] firefish111 commented on #25
@DynamicSquid Lol you didn't merge the pr, did you hit le wrong button

[2020-10-25 17:10] DynamicSquid commented on #25
@firefish111 ik, that's because your pr wouldn't work. Don't worry though, the preprocessor works now. All I need to do is to test it with Dusk and we're good!

[2020-10-25 17:14] firefish111 commented on #25
@DynamicSquid Aight then, yh ik the pr is le brokuenu, just oki put it in aight. (lol daylight savings is making it sooooo dark, it went back this morning for the UK, unlike you which is on the 1st)

[2020-10-25 17:20] DynamicSquid commented on #25
lol!

[2020-10-25 17:21] firefish111 commented on #25
@DynamicSquid It's only 5:20pm and it is already dusk, hehe pun intended

[2020-10-25 17:22] firefish111 commented on #25
Also why is le @CodeLongAndProsper90 sticking his nose in everything

[2020-10-25 17:23] DynamicSquid commented on #25
@firefish111 wdym? I like codelong

[2020-10-25 17:25] firefish111 commented on #25
@DynamicSquid Yeah but his like imposing GitLab and like... you know have heard bad things abut it, and really GitLab is scarcely used, but Github - although owned by le macrohard - is mor3e popular, and better, (and isn't gitlab also owned by le macrohard?)/

[2020-10-25 17:26] CodeLongAndProsper90 commented on #25
No gitlab isn't owned by M$

[2020-10-25 17:27] CodeLongAndProsper90 commented on #25
And given that a tool used to download YouTube videos was taken offline with only a notice from the RIAA, and the complaint was baseless, it's safer to not depend on GitHub

[2020-10-25 17:30] firefish111 commented on #25
@CodeLongAndProsper90 Well we, after all, are NOT making a video downloader, but instead making a programming language, nothing media-related, that is exposed to copyright

[2020-10-25 17:31] DynamicSquid commented on #25
@firefish111, @CodeLongAndProsper90 guys, as programmers, if we don't like something, then we can just make that thing! let's go make github

[2020-10-25 17:33] firefish111 commented on #25
@DynamicSquid Lol, one `SquidHub` coming right up, the future client for the ahead-of-time git client `squidgit`! (what the hell)

[2020-10-25 17:36] CodeLongAndProsper90 commented on #25
If this repo got taken down, which could happen and Squid didn't have a copy of the code, bam there goes Night.

[2020-10-25 17:37] CodeLongAndProsper90 commented on #25
And we could spin up a server, anyone got some spare cash for server space?

[2020-10-25 17:39] DynamicSquid commented on #25
Yeah I'm definitely moving this to Gitlab. Almost done v3.2, just have to work the readme files

[2020-10-25 17:39] firefish111 commented on #25
@CodeLongAndProsper90 Lol no, I can't even renew my replit hacker plan

[2020-10-25 17:39] firefish111 commented on #25
@DynamicSquid wait what's your incentive?

[2020-10-25 17:39] DynamicSquid commented on #25
@firefish111 my what?

[2020-10-25 17:40] firefish111 commented on #25
@DynamicSquid your
![image](https://user-images.githubusercontent.com/33234914/97114569-2b9f8e00-16e9-11eb-8a0e-ec784a409b12.png)

[2020-10-25 17:41] DynamicSquid commented on #25
@firefish111 Honestly yes

[2020-10-25 17:42] firefish111 commented on #25
@DynamicSquid lol what's your incentive to switch to GitLab

[2020-10-25 17:43] DynamicSquid commented on #25
wait how does markdown work? if I do this...

  - test
- test

[2020-10-25 17:43] DynamicSquid commented on #25
I want to switch to gitlab so night can be everywhere

[2020-10-25 17:46] DynamicSquid commented on #25
@firefish111 I have a good idea

[2020-10-25 17:48] firefish111 commented on #25
@DynamicSquid  yipadee

[2020-10-25 17:49] DynamicSquid commented on #25
K, give me 2 minutes, but my plan is basically I'm going to leave a type in the REAMEME file. Fork this repo, fix the type, then create a pull request. Then you'll be listed as one of the contributors
![Screenshot (249)](https://user-images.githubusercontent.com/60247838/97114781-2ece5600-16b8-11eb-9d60-49dd87154cae.png)
!

But don't do it until I say so

[2020-10-25 17:53] DynamicSquid commented on #25
@firefish111 K there's a typo in the first sentence "useability" if you want to fix that for me :)

[2020-10-25 17:57] firefish111 commented on #25
@DynamicSquid lol cheat but oki

[2020-10-25 18:01] DynamicSquid commented on #25
looking good over there!

[2020-10-25 18:07] CodeLongAndProsper90 commented on #25
And GitLab has native CI support unlike GitHub

[2020-10-25 18:09] firefish111 commented on #25
@CodeLongAndProsper90 Alright, we get it, some service that barely anybody uses is better than the most common one, lol it happens all the time. Take VIM for instance (I use vim, most other people use ***`nano`***, which is the worst pile of .... excrement ever),.

[2020-10-25 18:17] CodeLongAndProsper90 commented on #25
Ew nano
Spacemacs with Evil FTW

[2020-10-25 18:17] firefish111 commented on #25
@DynamicSquid lol it says `pks` not `dusk_pkgs`. does this imply you want to change?

[2020-10-25 18:17] CodeLongAndProsper90 commented on #25
We should call the Debugger `dawn`

[2020-10-25 18:18] firefish111 commented on #25
@DynamicSquid You know what I was gonna `ORIGINALLY` call dusk? `day`.

[2020-10-25 18:18] CodeLongAndProsper90 commented on #25
Uh

[2020-10-25 18:20] firefish111 commented on #25
@CodeLongAndProsper90 ***boom. shattered. ~~uh-oh he found us, take his to the barbecue!~~***

[2020-10-25 18:24] DynamicSquid commented on #25
@firefish111 pkgs it is

[2020-10-25 18:24] DynamicSquid commented on #25
@firefish111, @CodeLongAndProsper90 do you guys know how to link a exe file with a HTML download button?

[2020-10-25 18:24] firefish111 commented on #25
@DynamicSquid oki I will modify le dusk to suit

[2020-10-25 18:25] firefish111 commented on #25
@DynamicSquid You do markdown image with onclick, dat how

[2020-10-25 18:25] DynamicSquid commented on #25
@firefish111 I need a link for dusk.exe

[2020-10-25 18:27] firefish111 commented on #25
Ye, make an html server that does le download, or do you want le exe file? put le exe file in le release, then make le markdown image inside a link to le same link to le release exe. le oki?

[2020-10-25 18:28] firefish111 commented on #25
@DynamicSquid also what is handeling, it's handling

[2020-10-25 18:29] DynamicSquid commented on #25
@firefish111 Wait what no I just need a link to the exe file.

[2020-10-25 18:31] firefish111 commented on #25
@CodeLongAndProsper90 github better
![image](https://user-images.githubusercontent.com/33234914/97115721-27c33a00-16f0-11eb-9642-c5b1ed295b53.png)

@DynamicSquid for le link you need to OPLOAD LE EXE
![image](https://user-images.githubusercontent.com/33234914/97115734-41fd1800-16f0-11eb-8b64-b9b1a2f4207a.png)

[2020-10-25 18:32] DynamicSquid commented on #25
Damn, it crashed my pluggin lol

[2020-10-25 18:33] DynamicSquid commented on #25
Okay it worked!

[2020-10-25 18:34] DynamicSquid commented on #25
But it keeps telling me that it's a virus could you fix that?

[2020-10-25 18:36] firefish111 commented on #25
@DynamicSquid lol no, that's your problem, your browser says that "eXe fIlEs mUsT bE mAlIcIoUs" but not always true, I can report it being safe for you ~~also do you use edge~~

[2020-10-25 18:36] DynamicSquid commented on #25
@firefish111 i use chrome

[2020-10-25 18:37] DynamicSquid commented on #25
https://night-website.dynamicsquid.repl.co/html/dusk.html

[2020-10-25 18:40] DynamicSquid commented on #25
@firefish111 How do I combine dusk.exe and night.exe into one exe? Same for the Linux variants?

[2020-10-25 18:41] firefish111 commented on #25
@DynamicSquid WHAT NO PLOZ DELETE LE LINK, le réal link is le here
[ ] for windows: https://github.com/firefish111/dusk/releases/download/v1.0-alpha/dusk.exe
[ ] for linux: https://github.com/firefish111/dusk/releases/download/v1.0-alpha/dusk
# aha lol for dat i need to use a thing called `CGo`, can you reséarch please?

[2020-10-25 18:42] firefish111 commented on #25
# lol help me i slow `sed -e 's/dusk_pkgs/pkgs/g' -i dusk.go`

[2020-10-25 18:46] firefish111 commented on #25
@DynamicSquid have i lost contact, I need you to read my previous massgaes

[2020-10-25 19:02] DynamicSquid commented on #25
Don't worry it's all working fine

[2020-10-25 19:04] firefish111 commented on #25
@DynamicSquid not the right ones, gosh

[2020-10-25 19:10] DynamicSquid commented on #25
@firefish111 wait what

[2020-10-25 19:11] DynamicSquid commented on #25
@firefish111 well, Imma do that later. time to take a break

[2020-10-25 19:12] firefish111 commented on #25
@DynamicSquid yes lol let's do

[2020-10-25 19:14] #25 closed

[2020-11-08 11:42] AntimatterReactor opened #67 "Feature - Suggestion: Logo"
I mean, like 65-80% of language have those, so... why not?
But no pressure

[2020-11-08 16:59] DynamicSquid commented on #67
A logo? I already have one :) Its on the website

[2020-11-08 16:59] #67 closed

[2020-11-08 23:54] AntimatterReactor commented on #67
oh. so what about on the readme?

[2020-11-09 00:30] AntimatterReactor commented on #67
oh well, a background gotta go to waste, then
![NightLogoBackground](https://user-images.githubusercontent.com/63902100/98488722-619e4f80-225d-11eb-9dfd-cfe1009a620e.png)

[2020-12-27 13:27] kimlimjustin opened #70 "Favicon icon and meta tags of documentation page."
Hello, I've been visiting the Night documentation page and I've noticed that there's no favicon icon and meta tags for the website. I strongly suggest putting a favicon icon and meta tags for the documentation site to increase the SEO of the page. I would like to be assigned for this issue :)

[2020-12-27 17:55] DynamicSquid commented on #70
Thanks for taking interest! I really appreciate it!

However that's the old website, and I'm currently working on a [new one](https://dynamicsquid.github.io/night/), which does have a favicon. It's hosted with GitHub pages and the code is in the docs folder. But it's not close to being finished yet, so that's why I chose to show to old one instead of the new one.

Progress is a little slow on the

[2020-12-28 03:32] kimlimjustin commented on #70
Ohh okay

[2020-12-29 16:44] #70 closed

[2021-01-14 22:01] RowanFromBJC opened #71 "Trouble compiling night"
I'm trying to compile night, but I get errors using g++, clang++, and make.
g++ error:
[code]
clang++ error:
[code]
make error:
[code]

[2021-01-15 02:34] DynamicSquid commented on #71
For g++ and clang, make sure you add the `-std=c++17` so `std::variant` will be defined. I will update the README to reflect that.

For the Makefile, I'm not sure why it's not working. I'll try looking into that. What OS are you using?

Also, I there are binaries (I'm not sure what version though) for Windows and Linux on the website, so you can also download those for a quick way to use Night.

T

[2021-01-27 12:48] RojjaCebolla opened #73 "Do you have an FAQ?"
This language looks quite similar to C++, but I'm curious if you have any goals for it, that would help someone decide why to write in Night instead of C++?

[2021-01-28 00:07] DynamicSquid commented on #73
It's no where close to C++ :)

It's more related to Python. In a couple weeks, I'll be done the first stable version, and I'll have also updated the README page and website. Also thanks for bringing that up, I'll make sure to include why code in Night over Python.

[2021-01-30 20:10] #73 closed

[2021-03-11 04:56] DynamicSquid opened #78 "CI isn't working"
The CI using Travis isn't working. I'm trying to use `cmake` to generate a `.elf` file for Linux.

[2021-03-21 16:22] programmeruser2 commented on #78
You may want to look at Travis CI's logs.
https://travis-ci.com/github/DynamicSquid/night/builds/219851490
It seems like there's a syntax error in `CMakeLists.txt`.

[2021-03-22 22:38] DynamicSquid commented on #78
Perfect, thank you! So I fixed the `cmake` bug (and I saw the first green check mark in the CI in months 😮), but now there's another bug, not with the CI but with my language. I think I should be able to fix it sometime soon.

I'll keep this issue open just as a reminder.

[2021-03-27 20:57] programmeruser2 opened #79 "Syscalls"
Is there anyway I could invoke syscalls within Night?
I think this would best suited for a library since syscalls are a Unix/Linux only feature.
It might be possible with a [foreign function interface](https://en.wikipedia.org/wiki/Foreign_function_interface).

[2021-03-27 22:31] DynamicSquid commented on #79
Would an implementation using C++'s `system()` work?

[2021-03-28 22:13] DynamicSquid commented on #71
Fixed!

You can use CMake and g++7 to build Night like so:

[code]

I'll resolve this issue once I update the README and websites docs. Thanks for the report!

[2021-03-29 03:04] RowanFromBJC commented on #71
Nice, although on some systems you will have to use `cmake -G "Unix Makefiles" ../`

[2021-03-31 17:00] programmeruser2 commented on #79
[Syscalls](https://en.wikipedia.org/wiki/System_call) are not the same as `system()`, which runs a shell command in a subshell.

[2021-04-01 02:16] DynamicSquid commented on #79
How would I implement that? I'm thinking about the FFI, but I'm not sure where to get started. Is there a way to invoke syscalls in C++ using FFI?

[2021-04-01 02:17] #71 closed

[2021-04-01 02:17] #78 closed

[2021-04-04 15:20] programmeruser2 commented on #79
The FFI would probably just be an API that opens DLLs and runs functions from them. You would then put the syscall functions inside a DLL, probably written in C.

[2021-04-05 15:21] DynamicSquid commented on #79
@programmeruser2 I'm still a little confuzzled on what you mean? Like here's how I currently implement predefined function calls:

[code]

It's not the best way, but I can't think of any other way to implement predefined functions.... So I could do the same for syscalls (except there's a lot of them):

[code]

Could you provide a code snippet of your way?

[2021-04-07 12:44] BD103 opened #80 "Having trouble installing and running Night"
I followed the tutorial on the GH Pages and installed with Replit. It still doesn't recognize the command `night`, and I cannot run any files. Any advice?

[2021-04-07 13:47] programmeruser2 commented on #79
First of all, you should probably store all functions, including built-ins, in a `std::unordered_map`.
Second of all, you could create a `syscall()` function that you can pass parameters to, but that requires variable length arguments.
You have three choices here:
1. Implement a FFI API
2. Implement individual syscall functions
3. Implement `syscall()` and variable length arguments

[2021-04-07 15:22] RowanFromBJC commented on #80
After building, in the shell tab, run these commands.
[code]
When it asks for your repl name, use the repl name that shows up in the shell tab (without the ~/)

[2021-04-07 15:26] RowanFromBJC commented on #80
This is just for Replit, not other devices

[2021-04-07 15:56] BD103 commented on #80
Thank you, I'll try it out.

[2021-04-08 21:52] DynamicSquid commented on #79
@programmeruser2 actually I already use a map, I was just using if statements for the sake of simplicity. And sure, I'll give those a try, unless you want to create a PR yourself, but it's fine if you don't?

[2021-04-08 21:54] DynamicSquid commented on #80
Hi @BD103, Replit uses Linux. You can still follow my tutorial, but the only different is you have to do `./night` instead of `night`. I'll update my tutorial. Thanks !

[2021-04-12 17:44] BD103 commented on #80
Thank you!

[2021-04-16 19:46] #80 closed

[2021-05-08 17:55] IronManCool001 opened #82 "Website is not responsive and needs improvement"
![Screenshot_20210508-232408](https://user-images.githubusercontent.com/63513685/117548800-8fb9ec00-b054-11eb-9d93-d20b548657a5.png)
Website is not responsive and needs CSS fix

[2021-05-09 03:32] AntimatterReactor commented on #82
Yeah, I've fixed that, but unfortunately DynamicSquid doesn't accept the css and js part, so nothing's changed

[2021-05-09 15:17] DynamicSquid commented on #82
I'm not really good with responsive design, but I definitely have that on my mind. PRs are welcome too :)

Also @AntimatterReactor, you just removed some JS, but it didn't change the responsiveness

[2021-05-10 13:38] AntimatterReactor commented on #82
yeah, that one just cause the background gradient cause so much lag that my decent computer can't deal with it, so i'm forced to remove it @DynamicSquid. Also, it did makes a difference.

[2021-05-10 14:50] DynamicSquid commented on #82
It doesn't cause quite as much lag on much computer, but I'm definitely going to use native JS or perhaps change the algorithm

[2021-05-10 23:49] AntimatterReactor commented on #82
Well, I hope so

[2021-05-11 00:13] DynamicSquid commented on #82
Which link?

[2021-05-12 04:40] IronManCool001 commented on #82
I made the buttons responsive, view this pull request: https://github.com/DynamicSquid/night/pull/83

[2021-05-13 05:18] AntimatterReactor commented on #82
nvm

[2021-07-05 20:21] DynamicSquid commented on #79
I'm actually going to hold this off for now. syscalls being not compatible with Windows is a problem at the moment. Maybe sometime later I'll implement a way.

[2021-07-05 20:21] #79 closed

[2021-07-05 21:08] firefish111 commented on #79
well you see, you could borrow me as your Linux tester

[2021-07-06 01:49] DynamicSquid commented on #79
@firefish111 I have ways of testing it on Linux, it's just that I don't want some features of my language to be compatible to a certain OS. In the future once I add syntax that allows the user to check OS compatibility, then I'll add it.

[2021-07-06 13:29] programmeruser2 commented on #79
There should be a way to create OS specific releases, like how gcc does it.

[2021-07-06 15:15] firefish111 commented on #79
GCC has no Windows release, unless you mean mingw

[2021-07-06 15:16] firefish111 commented on #79
CLang however has a release on all platforms.

[2021-07-22 14:11] AntimatterReactor opened #84 "Current build is 100% uncompilable"
Except if that's what was meant by "unstable build"
Then i suggest to close this issue and says so in readme.

pls

[2021-07-22 15:47] firefish111 commented on #84
I clicked on this email going for something worth reading, like @whippingdot roasting @headiscoding again

[2021-07-22 23:54] AntimatterReactor commented on #84
lol

[2021-07-23 06:40] whippingdot commented on #84
Don't ping me randomly @firefish111

[2021-07-23 06:54] firefish111 commented on #84
no u

[2021-07-23 06:55] firefish111 commented on #84
waiter you actually received it? wops

[2021-07-29 16:51] DynamicSquid commented on #84
Currently working on a stable version, it'll be out < 2 weeks :)

And for the rest of you don't spam

[2021-07-29 16:51] #84 closed

[2021-07-30 00:51] AntimatterReactor commented on #84
ok, cool

[2021-08-11 03:59] IronManCool001 opened #85 "Website is broken"
![image](https://user-images.githubusercontent.com/63513685/128967511-d02f7ff7-a5aa-4002-a4eb-380e2a94a549.png)
**Guys the website seems broken see the above image**

[2021-08-11 05:04] EpicGamer007 commented on #85
night isn't supposed to be this bright lol

[2021-08-13 16:13] DynamicSquid commented on #85
lol yes, it's currently under changes. I'll add a note in the readme

[2021-08-13 16:13] #85 closed

[2021-08-15 14:30] IronManCool001 opened #86 "Compilation error"
<samp>
In file included from src/lib/error.h:3,
                 from src/night.cpp:3:
src/lib/./string.h:271:62: error: 'night::string operator""_s(const char*, unsigned int)' has invalid argument list
  night::string operator""_s(const char* str, unsigned int len)
                                                              ^
In file included from src/night.cpp:3:
src/lib/error.h: In constructo

[2021-08-16 01:07] AntimatterReactor commented on #86
Night is still on the making. Read #84

[2021-08-16 01:13] AntimatterReactor commented on #86
note that the last stable build is commit 8079fa9e05499b97d60b8777a6aeb733c23dffb3

[2021-08-16 14:11] IronManCool001 commented on #86
Ok that solved my issue now you should close this issue plus I would like to recommend a discord server were you could list your programming language https://discord.gg/9PcQkaVpYv

[2021-08-17 14:26] firefish111 opened #87 "Am rewriting dusk and cdn, for the "anniversary update""
read the title stupid

[2021-08-23 02:06] #87 closed

[2021-08-23 02:07] #86 closed

[2021-09-09 00:30] AntimatterReactor opened #88 "Night cannot compile on debian based linux distros"
Note: this probably has to do with debian based distros using gcc 9.3.0 instead of the newer gcc 11.1.0

[2021-09-09 18:58] headiscoding commented on #84
😭

[2021-09-09 21:55] DynamicSquid commented on #88
Hmm, I thought you needed at least gcc8. Could you screenshot the error message you're getting?

[2021-09-09 23:58] AntimatterReactor commented on #88
https://github.com/AntimatterReactor/night/runs/3528955169
that's the failed cmake build on github action (my fork btw)

[2021-09-10 03:00] AntimatterReactor commented on #88
and this
![image](https://user-images.githubusercontent.com/63902100/132792422-22f9b7a0-8ce9-4a8c-90e5-fbe13e7fcd2c.png)

[2021-09-10 20:13] DynamicSquid commented on #88
yeah, I think you need to update the gcc version since it doesn't recognize c++20 `std::ranges`. What's the highest version you can get?

[2021-09-11 02:53] AntimatterReactor commented on #88
it works on gcc 10.3.0
![image](https://user-images.githubusercontent.com/63902100/132933829-3975a48c-6402-4ae7-b4c3-18be8008c479.png)

[2021-09-11 03:44] DynamicSquid commented on #88
oh, perfect! I've already updated the readme to inform people to have a minimum gcc version of 10. I'll also fix those warnings

thanks!

[2021-09-11 03:44] #88 closed

[2021-10-01 22:27] programmeruser2 opened #89 "Linux releases"
Could there be Linux binary releases?

[2021-10-01 23:01] ShawSumma commented on #89
The readme says they are coming soon!

[2021-10-03 19:12] DynamicSquid commented on #89
I've included a linux binary in the Releases section, let me know if you have any trouble with it!

[2021-10-05 21:24] #89 closed

[2021-10-24 11:14] Joe23232 opened #90 "Hi, I wanted to know how does this language differ to other low level languages?"
Hi, I wanted to know how does this language differ to other low level languages such as Rust?

[2021-10-25 20:03] #90 closed, assigned to nobody

[2021-11-13 05:03] AntimatterReactor commented on #82
How come have this not been solved yet @DynamicSquid ? It's been 6 months...

[2021-11-30 00:29] JBYT27 opened #95 "[ENHANCEMENT] Update release to access on Replit"
Hiya!

## About
I found this [Repl](https://replit.com/@DynamicSquid/night-template) that allowed Replit Users to use (pretty much any lang that had a release) custom langs. However, the current release seems (very) outdated, and I would like to ask if any of the devs could make a new release that includes all the current code? That way, we can access the current version on Replit (I'm testing wit

[2021-11-30 21:25] CodeLongAndProsper90 commented on #95
Doesn't replit support Nix?  So you could just merge this into nixpkgs then do a `nix-shell` invocation...

[2021-11-30 21:46] JBYT27 commented on #95
Well, yes, I tried that, but it doesn’t seem to work from what I did…

But I’ll try that again and see if it works

[2021-11-30 22:06] DynamicSquid commented on #95
The current code might not work :/

That repl downloads the latest release (which does work)

[2021-11-30 22:28] JBYT27 commented on #95
Okay! Quick question, could you make a README that holds the syntax for that night version?

So the current version is still a wip?

[2021-12-01 00:38] JBYT27 commented on #95
@CodeLongAndProsper90 - so I have a question: I tried using Nix (using DynamicSquid's repl fork), but I didn't know how to start the file, and I got stumped on running the file. Could you help with this?

[2021-12-02 22:15] DynamicSquid commented on #95
@JBYT27 Some syntax is in the website https://dynamicsquid.github.io/night/ it's still in development

To run Night on Linux, follow the Linux instructions in the Readme. Once you built the project, you should see a ./night folder somewhere, and you can run that

[2021-12-02 22:17] JBYT27 commented on #95
Oh okay! Thank you!

i’ll try that and see if its up-to-daye and works (it prob will as u said tho)

[2021-12-05 05:06] #95 closed

[2022-03-21 13:44] AntimatterReactor opened #99 "Is This a Lexer Bug?"
Found this on line 46 of the lexer.cpp:
[code]
but then, shouldn't it always evaluate as false? Since `'\\' != '"'`

[2022-03-22 13:17] #99 closed

[2022-03-22 13:27] AntimatterReactor commented on #99
np!

[2022-03-27 02:35] DynamicSquid opened #101 "switch preferred over hash map"
`Lexer::`replace_escape_chars` implementation should be changed from hash map to switch as it is faster

[2022-04-07 18:16] StringentDev commented on #82
@DynamicSquid Yeah... it seems to not be very performant on my device as I get lag whilst scrolling.

[2022-10-17 14:22] #101 closed

[2022-10-17 14:23] #82 closed